@font-face {
    font-family: 'MyFont';
    src: url('../assets/font/glyphicons-halflings-regular.woff2') format('woff2'),
    url('../assets/font/glyphicons-halflings-regular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: red;
    background: url('../assets/images/back.jpg');
}
@import "https://fonts.googleapis.com/css?family=Exo+2:700|Roboto:100,300,400,500,700,900";

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;

    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 1.5;

    /*background: #444;*/
    color: #9d9d9d;
}

a {
    color: #80ebff;
    text-decoration: none;
}
a:hover {
    color: #FFF;
    text-decoration: underline;
}

canvas {
    display: block; /* Fix middle button drag on FF */
}

.osgjs-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    padding: 20px 120px 20px 20px;
}

.osgjs-fullpage {
    position: absolute;
    top:0px;
    width: 100%;
    bottom: 0;
}
.osgjs-description {
    font-size: 14px;
}

.osgjs-powered {
    display: block;
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px 10px 10px;
    border-radius: 25px;

    line-height: 32px;

    background: rgba(0,0,0,.3);
    color: #FFF !important;

    opacity: 0.5;
}
.osgjs-powered:hover {
    text-decoration: none;
    opacity: 1;
}
.osgjs-powered img {
    vertical-align: bottom;
}
.osgjs-powered strong {
    font-size: 18px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
}

/**
 * Light theme
 ******************************************************************************/

.osgjs-theme-light {

    color: #111;

    background: rgb(238,238,238);
    background: -moz-radial-gradient(center, ellipse cover,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1)));
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    background: -o-radial-gradient(center, ellipse cover,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    background: radial-gradient(ellipse at center,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=1 );
}
.osgjs-theme-light .osgjs-description {
    color: #111;
}
.osgjs-theme-light .osgjs-description a {
    color: #009EBB;
}

/**
 * Dark theme
 ******************************************************************************/

.osgjs-theme-dark {

    color: #FFF;

    background: rgb(79,79,79);
    background: -moz-radial-gradient(center, ellipse cover,  rgba(79,79,79,1) 0%, rgba(22,22,22,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(79,79,79,1)), color-stop(100%,rgba(22,22,22,1)));
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(79,79,79,1) 0%,rgba(22,22,22,1) 100%);
    background: -o-radial-gradient(center, ellipse cover,  rgba(79,79,79,1) 0%,rgba(22,22,22,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover,  rgba(79,79,79,1) 0%,rgba(22,22,22,1) 100%);
    background: radial-gradient(ellipse at center,  rgba(79,79,79,1) 0%,rgba(22,22,22,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4f4f', endColorstr='#161616',GradientType=1 );
}
.osgjs-theme-dark .osgjs-description {
    color: #FFF;
}
.osgjs-theme-dark .osgjs-description a {
    color: #80ebff;
}

/*new*/
/*通用*/
.hide {
    display: none;
}
.triangle {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 5px solid rgba(255,255,255,0.5);
    border-bottom: 5px solid transparent;
}

/*用户信息栏*/
.user-info {
    position: absolute;
    z-index: 100;
    right: 0;
    top: 5px;
    color: #000000;
}
.user-info .user-img {
    position: absolute;
    right:0px;
    text-decoration: none;
    height: 29px;
    width: 29px;
    border-radius: 100%;
    text-align: center;
    color: #000000;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
.user-info .menu-item:hover {
    color:#c9302c;
}
.user-img-default {
    height: 29px;
    width: 29px;
}
.user-img-default::before {
    position: absolute;

    width: 10px;
    height: 10px;
}
.user-img-default::after{

}
.user-info .user-menu {
    min-width: 88px;
    max-width: 100px;
    border-radius: 6px;
    position: absolute;
    right:38px;
    background: rgba(255, 255, 255, 0.5);
}
.user-info .menu-item {
    padding: 10px 22px 9px 22px;
    cursor: pointer;
    font-size: 10px;
    text-align: left;
    text-overflow:ellipsis;
    white-space:nowrap;
    display: block;
}
.user-info .menu-item+.menu-item{
    border-top: 1px solid #4f4f4f;
}
.user-info .menu-item-arrow {
    position: absolute;
    top:10px;
    left: -38px;
}

/*侧边栏*/
.side-bar-tab {
    z-index: 100;
    position: fixed;
    right: 0;
    top: 10%;
    min-width: 27px;
    font-size: 14px;
    color: #000;
}
.side-bar-tab ul {
    list-style: none;
    position: absolute;
    padding: 0 0;
    margin: 0 0;
    left: 0;
    top: 54px;
    width: 27px;
}
.side-bar-tab .title-bar li.tab-title {
    cursor: pointer;
    padding-top: 18px;
    padding-bottom: 18px;

}
.side-bar-tab .title-bar li.select,
.side-bar-tab .title-bar li:hover
{
    background-color: #f8f8f8;

}
.side-bar-tab ul li {
    display: block;
    border-radius: 6px;
    border: none;
    text-align: center;
    background-color: #BEBEBE;
}
.side-bar-tab ul li+li {
    margin-top: 14px;
}

.side-bar-tab .sidebar-content {
    position: relative;
    width: 239px;
    height: 640px;
    margin-left: 29px;
}

.side-bar-tab .sidebar-content .top-bar {
    border-top-left-radius: 6px;
    background: rgba(255,255,255,0.7);
    vertical-align: middle;
    position: relative;
    padding: 0 15px;
}
.side-bar-tab .sidebar-content .main-content {
    border-bottom-left-radius: 6px;
    background: rgba(255,255,255,0.7);
    position: relative;
    height: 400px;
}
/*下方导航*/
.navigation-tab {
    width: 100%;
    z-index: 100;
    position: fixed;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
}
.navigation-tab .effective-layer {
    border-bottom: 1px solid rgba(0,0,0,0.3);
    box-sizing: border-box;
    height: 36px;
}
.navigation-tab .effective-layer ul li {
    float: left;
    cursor: pointer;
}
.navigation-tab .effective-layer .tab-title {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 36px;
    background: rgba(255, 255, 255, 0.17);
    margin: 0 0;
    padding: 0 0;
    list-style: none;
}
.navigation-tab .effective-layer .tab-content {
    color: #000;
    min-width: 70px;
    line-height: 34px;
    font-size: 14px;
    text-align: center;
    box-sizing: border-box;
}
.navigation-tab .effective-layer .tab-title li.active {
    background: rgba(255,255,255,0.5);
    color: #c9302c;
    border-top: 2px solid #c9302c;
}
.navigation-tab .effective-layer .tab-title li.switch {
    position: absolute;
    right: 0;
    width: 20px;
    height: 10px;
    background-color: #c9302c;
}

.tab-panel{
    z-index: 100;
    position: relative;
    height: 87px;
    width: 100%;
    background: rgba(255, 255, 255, 0.17);
    color: #000;
}
.navigation-tab .tab-panel .sub-tab-panel {
    width: fit-content;
}
.navigation-tab .tab-panel .sub-tab-panel .sub-group-panel {
    border-bottom: 1px solid rgba(0,0,0,0.3);
    box-sizing: border-box;
    height: 67px;
}
.navigation-tab .tab-panel .sub-tab-panel .sub-group-panel ul {
    margin:  0 0;
    padding: 0 0;
    list-style: none;
}
.navigation-tab .tab-panel .sub-tab-panel .sub-group-panel ul li {
    float: left;
    width: 68px;
    height: 100%;
    text-align: center;
    cursor: pointer;
}
.navigation-tab .tab-panel .sub-tab-panel .sub-group-panel ul li:hover{
    background: rgba(255,255,255,0.5);
    color: #c9302c;
    border-bottom: 2px solid #c9302c;
}
.navigation-tab .tab-panel .sub-group-bar {
    text-align: center;
    font-size: 10px;
}
